.page {
    min-height: 100vh;
    padding: 40px 0;

    background-color: var(--background-secondary);
}

.teachersContainer {
    display: flex;
    flex-direction: column;

    max-width: 1184px;
}

.cards {
    display: flex;
    flex-direction: column;

    gap: 32px;
}

.loaderWrapper {
    min-height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.teacherCardWrapper {
    scroll-margin-top: 100px;
}

.empty {
    padding: 48px 0;

    text-align: center;

    color: var(--text-secondary);

    font-size: 18px;
}