.title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  color: var(--text-primary);
}

.description {
  margin-bottom: 40px;

  color: var(--text-secondary);

  line-height: 1.38;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form input {
  width: 100%;

  padding: 16px 18px;

  border: 1px solid var(--border);
  border-radius: 12px;

  color: var(--text-primary);
  background-color: var(--background);
  outline: none;

  height: 54px;
}

.form input:focus {
  border-color: var(--primary);
}

.form input.inputError {
  border-color: var(--error);
  background-color: rgba(232, 83, 78, 0.1);
}

.error {
  margin-top: 6px;
  font-size: 13px;
  color: var(--error);
}

.submitButton {
  margin-top: 22px;
  line-height: 1.56;
}
